asgiref==3.7.2
certifi==2023.11.17
charset-normalizer==3.3.2
Django==5.0.1
djangorestframework==3.14.0
environs==10.3.0
idna==3.6
marshmallow==3.20.2
ngrok==0.12.1
packaging==23.2
PaycomUz==3.0
pillow==10.2.0
pip-chill==1.0.3
python-dotenv==1.0.0
pytz==2023.3.post1
requests==2.31.0
sqlparse==0.4.4
urllib3==2.1.0
